.todo-page {
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-items: center;
	row-gap: 5vh;
	overflow-y: scroll;
	padding-bottom: 5vh;
	overflow-x: hidden;
}
.todo-input {
	display: flex;
	justify-content: center;
}
.todo-input button {
	background-color: rgba(44, 104, 44, 0.336);
	border-radius: 40%;
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
	border: 0px;
	font-size: large;
	backdrop-filter: blur(3px);
	outline: none;
	border: none;
}
.todo-input button:hover {
	background-color: rgba(116, 201, 116, 0.336);
}
@media screen and (max-width: 550px) {
	.todo-input input {
		width: 55%;
	}
}
@media screen and (min-width: 549px) and (max-width: 649px) {
	.todo-input input {
		width: 60%;
	}
}
@media screen and (min-width: 649px) and (max-width: 1199px) {
	.todo-input {
		display: flex;
		justify-content: center;
		input {
			width: 55%;
		}
	}
}
@media screen and (min-width: 1200px) {
	.todo-input input {
		width: 30%;
	}
}
.todo-input input {
	padding: 5px 20px;
	font-size: large;
	color: white;
	backdrop-filter: blur(3px);
	background-color: rgba(128, 128, 128, 0.336);

	outline: none;
	border-right: none;
	border: none;
	border-start-start-radius: 30px;
	border-end-start-radius: 30px;
}

.todo-filter {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 649px) {
	.todo-filter .filter {
		width: 70%;
	}
}
@media screen and (min-width: 649px) and (max-width: 1199px) {
	.todo-filter .filter {
		width: 55%;
	}
}
@media screen and (min-width: 1200px) {
	.todo-filter .filter {
		width: 30%;
	}
}
.todo-filter .filter {
	padding: 5px 10px;
	border: none;
	outline: none;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	backdrop-filter: blur(4px);
	background-color: rgba(0, 0, 0, 0.3);
	font-family: "Courier New", Courier, monospace;
	font-size: large;
	font-size: x-large;
	cursor: pointer;
}
@media screen and (max-width: 649px) {
	.select-opts {
		width: 70%;
	}
}
@media screen and (min-width: 649px) and (max-width: 1199px) {
	.select-opts {
		width: 50%;
	}
}
@media screen and (min-width: 1200px) {
	.select-opts {
		width: 30%;
	}
}
.select-opts {
	cursor: pointer;
	appearance: none;
	padding: 5px 10px;
	font-size: large;
	backdrop-filter: blur(5px);
	border: none;
	outline: none;
	font-family: "Courier New", Courier, monospace;
	font-size: x-large;
	background-color: rgba(0, 0, 0, 0.4);
}
.select-opts div:hover {
	background-color: rgba(32, 32, 32, 0.7);
}
#todos {
	display: flex;
	flex-direction: column;
	row-gap: 3vh;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 649px) {
	.todo {
		width: 70%;
		i {
			flex-basis: 15%;
		}
	}
	.todo-text {
		flex-basis: 55%;
	}
}
@media screen and (min-width: 549px) and (max-width: 649px) {
	.todo {
		width: 70%;
		i {
			flex-basis: 10%;
		}
	}
	.todo-text {
		flex-basis: 70%;
	}
}
@media screen and (min-width: 649px) and (max-width: 949px) {
	.todo {
		width: 50%;
		i {
			flex-basis: 15%;
		}
	}
	.todo-text {
		flex-basis: 55%;
	}
}
@media screen and (min-width: 949px) {
	.todo-text {
		flex-basis: 70%;
	}
	.todo i {
		flex-basis: 10%;
	}
}
@media screen and (min-width: 949px) and (max-width: 1199px) {
	.todo {
		width: 50%;
	}
}
@media screen and (min-width: 1200px) {
	.todo {
		width: 25%;
	}
}
.todo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 7px 15px;
	background-color: rgba(70, 68, 68, 0.336);
	font-size: larger;
	& > .todo-text {
		text-align: start;
		cursor: pointer;
	}
	&.checked > label {
		text-decoration: line-through;
	}
	& > input {
		cursor: pointer;
		appearance: none;
	}
	& > i {
		cursor: pointer;
	}
	& > i:nth-of-type(1) {
		color: goldenrod;
	}
	&.checked > i:nth-of-type(1) {
		color: rgb(130, 245, 107);
	}
	& > .todo-delete {
		color: red;
	}
	& > .todo-edit {
		color: rgb(127, 240, 255);
	}
}
@media screen and (max-width: 649px) {
	.new-name {
		input {
			padding: 3px 5px;
		}
		div {
			display: flex;
			justify-content: center;
		}
		label {
			justify-content: space-between;
		}
	}
}
@media screen and (min-width: 649px) and (max-width: 949px) {
	.new-name {
		input {
			padding: 3px 5px;
		}
		div {
			display: flex;
			justify-content: center;
		}
		label {
			justify-content: space-between;
		}
	}
}
@media screen and (min-width: 949px) and (max-width: 1199px) {
	.new-name {
		input {
			padding: 3px 5px;
		}
		div {
			display: flex;
			justify-content: center;
		}
		label {
			justify-content: space-between;
		}
	}
}

@media screen and (min-width: 1200px) {
	.new-name {
		input {
			padding: 3px 10px;
		}
		div {
			display: flex;
			justify-content: center;
		}
		label {
			display: flex;
			justify-content: space-between;
		}
	}
}

.new-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 3vh;
	& > label {
		display: flex;
		border: 2px solid rgba(38, 38, 38, 0.7);
		flex-direction: row;
		border-radius: 10px;
		background-color: rgba(45, 45, 45, 0.7);
	}
	& > label:focus-within {
		border: 2px solid rgba(238, 238, 238, 0.7);
	}
	kbd {
		font-size: x-large;
		padding: 3px 5px;
		margin: 5px;
		text-align: center;
		border-radius: 10px;
		width: 20px;
		cursor: pointer;
		border: 2px solid rgb(38, 38, 38);
		background-color: rgb(17, 17, 17);
	}
	input {
		border: 2px solid transparent;
		background-color: rgba(32, 32, 32, 0.7);
		font-size: large;
		border-right: none;
		border-radius: 10px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	input:focus {
		border: 2px solid transparent;
		border-right: none;
		outline: none;
	}
	button:hover {
		border-color: white;
	}
}
